{% load static %}
<html>
<head>
	<!--link rel="stylesheet" href="{% static "famtree/ttree.css" %}"--><!--Import tree css-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><!--Import Google Icon Font-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"><!-- Compiled and minified CSS -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/><!--Let browser know website is optimized for mobile-->
</head>
<body>

<nav class="nav-extended">
  <div class="nav-wrapper">
		<a href="/" class="brand-logo">Genealogía Dominicana</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="/persons/">Persons</a></li><li><a href="/emigrations/">Emigrations</a></li><li><a href="/logout/">Logout</a></li>
		</ul>
  </div>
  <div class="nav-content row">
		<div class="col s12">
      <ul class="tabs tabs-transparent">
				<li class="tab col s3"><a href="#test1">Cronological Events</a></li><li class="tab col s3"><a class="active" href="#test2">Graphical Tree</a></li><li class="tab col s3"><a href="#test3">Details</a></li><li class="tab col s3"><a href="#test4">Gallery</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="row"><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> <h6 class="center"> This information  in related to {{current_person.get_full_name}}</h6></div>
	
	
<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  
      	
	
	
	<div id="test1" class="col s12">Display Cronological Events Here</div>
	<div id="test2">
		<div id="chart_div"></div>
	</div>
	<div id="test3" class="col s12">Display Person details Here</div>
	<div id="test4" class="col s12">Display Person gallery Here</div>	
	
	
	

<!--JavaScript at end of body for optimized loading-->
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var tabs_elem = document.querySelector('.tabs')
    var tab_instance = M.Tabs.init(tabs_elem);
    var elems = document.querySelectorAll('.chips');
    var chips_instances = M.Chips.init(elems);
    var elems = document.querySelectorAll('.sidenav');
    var sidenav_instances = M.Sidenav.init(elems);
  });
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  google.charts.load('current', {packages:["orgchart"]});
  google.charts.setOnLoadCallback(drawChart);
  // TODO: (-)
  var famro_tree_data = {{tree_data|safe}};

  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Name');
    data.addColumn('string', 'Manager');
    data.addColumn('string', 'ToolTip');

    var spouses_format = "";
    famro_tree_data['spouses'].forEach(spouse => {
      spouses_format = spouses_format + " "+ "<a href=\""+ spouse['url']+ "\">" +spouse['full_name']+"</a>"+" ("+ spouse['birth_date']+"-"+spouse['death_date']+") ";
    });
    
    data.addRows([
          [{v:'main_parents', f: "Father: " + "<a href=\""+ famro_tree_data['father']['url']+ "\">" + famro_tree_data['father']['full_name'] +"</a>"+ " ("+ famro_tree_data['father']['birth_date']+"-"+famro_tree_data['father']['death_date']+") " +" Mother: "+ "<a href=\""+ famro_tree_data['mother']['url']+ "\">" + famro_tree_data['mother']['full_name']+"</a>"+ " ("+ famro_tree_data['mother']['birth_date'] + "-"+famro_tree_data['mother']['death_date']+") "},
           '', 'Parents of {{current_person.get_full_name}}'],
          [{v:'current_person', f:"<a href=\"{{current_person.tree_url}}\"> {{current_person.get_full_name}} </a>"+" ("+ famro_tree_data['main']['birth_date']+"-"+famro_tree_data['main']['death_date']+") " + "Spouces: " + spouses_format},
           'main_parents', '{{current_person.get_full_name}} & spouces'],
    ]);
    // Adding children
    famro_tree_data['children'].forEach((child, index) => {
      data.addRows([
        [{v: child['fingerprint'], f:"<a href=\""+ child['url']+ "\">" +child['full_name']+"</a>"+" ("+ child['birth_date']+"-"+child['death_date']+") "}, 'current_person', child['full_name'] + " Son of "+ child['father_name']+" & "+child['mother_name']]
      ]);
      // Adding grandchildren
      famro_tree_data['grandchildren'][index].forEach(grandchild =>{
        data.addRows([
          [{v: grandchild['fingerprint'], f:"<a href=\""+ grandchild['url']+ "\">" +grandchild['full_name']+"</a>"+" ("+ grandchild['birth_date']+"-"+grandchild['death_date']+") "}, child['fingerprint'], grandchild['full_name'] + " Son of "+ grandchild['father_name']+" & "+grandchild['mother_name']]
        ]);
      });
      
    });

    // Create the chart.
    var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
    // Draw the chart, setting the allowHtml option to true for the tooltips.
    chart.draw(data, {size: 'small', allowHtml:true});
  }
</script>
</body>
</html>
